.cards {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    flex-direction: column;


    .carousel-img-container {
        display: flex;
        background: greenyellow;
        overflow: hidden;
        object-fit: contain;
        border-radius: 7px;
    }


}