.card-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid grey;
    border-radius: 1px;
    padding: 1em;
    cursor: pointer;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    font-size: 70%;
    overflow: hidden;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }

  